<h2 id='current-user'><%= current_user.first_name %>'s Saved Places</h2>

<% if flash[:notice] %>
    <p class='notice'><%= flash[:notice] %></p>
<% end %>

<% if current_user %>

<% end %>

<p>
	<%= link_to 'Edit Profile', edit_user_path %> |
	<%= link_to 'Back', root_path %> |
	<%= link_to 'Logout', logout_path, method: :delete %>
</p>

<section id='profile-results'>
	<% @user.businesses.each do |business| %>
		<% biz = Business.biz_search(business.yelp_id) %>

		<div class='business'>
			<h2><%= biz[:name] %></h2>
			<ul class='profile-address' data-lat='<%= biz[:latitude] %>' data-long='<%= biz[:longitude] %>'>
				<% biz[:address].each do |address| %>
					<li><%= address %></li>
				<% end %>
		</ul>
			<%= link_to biz[:name], biz[:website], :target => '_blank', :class => 'profile-yelp-link' %> on <b>Yelp</b>
			<div class='yelp'>
				<span><b>Yelp Rating: </b>
					<span id='yelp-rating'><%= biz[:rating] %></span>
				</span>
				<%= button_to 'Delete', {:controller => :businesses, :action => 'destroy', :id => business.id }, :class => 'button delete-business', :method => :delete %>
			</div>
		</div>

	<% end %>

	<% @user.markets.each do |market| %>
		<div class='market'>
			<h2><%= market.name %></h2>
			<p><b>Day(s) open: </b><%= market.days_open %></p>
			<p><b>Hours: </b><%= market.hours %></p>
			<p><b>Location: </b><%= market.address %></p>
			<p><%= market.borough %></p>
			<%#= button_to 'Delete', {:controller => :markets, :action => 'destroy', :id => market.id }, :method => :delete %>
		</div>
	<% end %>
</section>
