<div class='business' id='{{yelp_id}}'>
	<h2>{{name}}</h2>
	<ul class='address' data-lat='{{latitude}}' data-long='{{longitude}}'>
		{{#each address}}
			<li>{{this}}</li>
		{{/each}}
	</ul>
	<p>{{phone_number}}</p>
	<a href='{{website}}' target='_blank'>{{name}} on Yelp</a>
	<div>
		<span>Yelp Rating: 
			<span id='yelp-rating'>{{rating}}</span>
		</span>
	</div>
	<br>
	<button id='save-business'>Save</button>
</div>