<div class='market' id='{{name}}'>
	<h2>{{name}}</h2>
	<p><b>Day(s) open:</b> {{days_open}}</p>
	<p><b>Hours:</b> {{hours}}</p>
	<p><b>Location:</b> {{address}}</p>
	<p>{{borough}}</p>
	<button id='save-market'>Save</button>
</div>