<div class='market' id='{{name}}'>
	<h2>{{name}}</h2>
	<p>Day(s) open: {{days_open}}</p>
	<p>Hours: {{hours}}</p>
	<p>Location: {{address}} {{borough}}</p>
	<button id='save-market'>Save</button>
</div>