<% @markets.each do |market| %>

	<h2><%= market.name %></h2>
	<p>Days Open: <%= market.days_open %></p>
	<p>Hours: <%= market.hours %></p>
	<p>Address: <%= market.address %></p>
	<p><%= market.borough %></p>

<% end %>