<!DOCTYPE html>
<html>
<head>
  <title>SpiritGuide</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
	<a href='/'><h1>SpiritGuide</h1></a>
	<h2>Find places so good, you literally can't even.</h2>
</header>

<% if current_user %>
	<p>Welcome back, <%= current_user.first_name %>! | 
	<%= link_to 'Profile', user_path(current_user.id) %> | 
	<%#= link_to 'Edit Info', edit_user_path(current_user.id) %> |
	<%= link_to 'Logout', logout_path, method: :delete %>
	</p>

	<section id='circle-container'>
	<p><input class='search-input' type='text' name='first_name' placeholder='Borough...'></p>
	<div class='circles yoga' data-value='yoga'>Yoga Studios</div>
	<div class='circles veg' data-value='vegetarian vegan'>Vegetarian/Vegan</div>
	<div class='circles juice' data-value='juicebars'>Juice Bars</div>
	<section id='market-container'>
		<div class='circles farmersmarket' data-value='brooklyn'>Farmers Markets
		</div>
			<section id='market-results'></section>
	</section>
	
<!-- 	<h2>in...</h2>
	<select name='borough' class='borough-dropdown'>
		<option value='bronx'>Bronx</option>
		<option value='brooklyn'>Brooklyn</option>
		<option value='manhattan'>Manhattan</option>
		<option value='queens'>Queens</option>
		<option value='staten-island'>Staten Island</option>
	</select>
 -->
	<!-- <button id='search-button'>Search</button> -->

	<section id='search-results'></section>
</section>


<% else %>
	<%= link_to 'Sign Up', new_user_path %> | 
	<%= link_to 'Login', login_path %>
<% end %>

<%= yield %>

</body>
</html>
