<!DOCTYPE html>
<html>
<head>
  <title>SpiritGuide</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?v=3&sensor=false' %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
	<a href='/'><h1 class='spirit-guide'>SpiritGuide</h1></a>
	<h2 class='spirit-guide'>Find places so good, you literally can't even.</h2>
	<% if current_user %>
		<p class='welcome-message'>Welcome back, <%= current_user.first_name %>! | 
		<%= link_to 'Profile', user_path(current_user.id) %> | 
		<%= link_to 'Logout', logout_path, method: :delete %>
		</p>
</header>

<div class='content'>
		<div id='outer-container'>
			<section id='circle-container'>
				<p><input class='search-input' type='text' name='first_name' placeholder='Search by Borough...'></p>
				<div class='circles yoga' data-value='yoga'>Yoga Studios</div>
				<div class='circles veg' data-value='vegetarian vegan'>Vegetarian/Vegan</div>
				<div class='circles juice' data-value='juicebars'>Juice Bars</div>
				<section id='market-container'>
					<div class='circles farmersmarket' data-value='farmersmarket'>Farmers Markets
					</div>
						<section id='market-results'></section>
				</section>
			<section id='search-results'></section>
		</section>
	</div>
	<% else %>
		<%= link_to 'Sign Up', new_user_path %> | 
		<%= link_to 'Login', login_path %>
	<% end %>

	<%= yield %>
</div>

</body>
</html>
